<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.techwells.wumei.dao.CommodityMapper">
    <resultMap id="BaseResultMap" type="com.techwells.wumei.domain.Commodity">
        <id column="commodity_id" jdbcType="INTEGER" property="commodityId"/>
        <result column="company_id" jdbcType="INTEGER" property="companyId"/>
        <result column="commodity_name" jdbcType="VARCHAR" property="commodityName"/>
        <result column="commodity_icon" jdbcType="VARCHAR" property="commodityIcon"/>
        <result column="commodity_type" jdbcType="INTEGER" property="commodityType"/>
        <result column="rent" jdbcType="DECIMAL" property="rent"/>
        <result column="unit" jdbcType="VARCHAR" property="unit"/>
        <result column="location" jdbcType="VARCHAR" property="location"/>
        <result column="introduce" jdbcType="VARCHAR" property="introduce"/>
        <result column="specification" jdbcType="VARCHAR" property="specification"/>
        <result column="model" jdbcType="VARCHAR" property="model"/>
        <result column="stock" jdbcType="INTEGER" property="stock"/>
        <result column="brand" jdbcType="VARCHAR" property="brand"/>
        <result column="power" jdbcType="VARCHAR" property="power"/>
        <result column="recommend" jdbcType="VARCHAR" property="recommend"/>
        <result column="rent_status" jdbcType="INTEGER" property="rentStatus"/>
        <result column="activated" jdbcType="INTEGER" property="activated"/>
        <result column="deleted" jdbcType="BIT" property="deleted"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
    </resultMap>
    <sql id="Base_Column_List">
    commodity_id, company_id, commodity_name, commodity_icon, commodity_type, rent, unit, 
    location, introduce, specification, model, stock, brand, power, recommend, rent_status,
    activated, deleted, create_date, update_date
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_commodity
        where commodity_id = #{commodityId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_commodity
    where commodity_id = #{commodityId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.techwells.wumei.domain.Commodity">
        <selectKey keyProperty="commodityId" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_commodity (company_id, commodity_name, commodity_icon,
        commodity_type, rent, unit,
        location, introduce, specification,
        model, brand, power,
        recommend, activated, deleted,
        create_date, update_date)
        values (#{companyId,jdbcType=INTEGER}, #{commodityName,jdbcType=VARCHAR}, #{commodityIcon,jdbcType=VARCHAR},
        #{commodityType,jdbcType=INTEGER}, #{rent,jdbcType=DECIMAL}, #{unit,jdbcType=VARCHAR},
        #{location,jdbcType=VARCHAR}, #{introduce,jdbcType=VARCHAR}, #{specification,jdbcType=VARCHAR},
        #{model,jdbcType=VARCHAR}, #{stock,jdbcType=INTEGER}, #{brand,jdbcType=VARCHAR}, #{power,jdbcType=VARCHAR},
        #{recommend,jdbcType=VARCHAR}, #{activated,jdbcType=INTEGER}, #{deleted,jdbcType=BIT},
        #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.techwells.wumei.domain.Commodity">
        <selectKey keyProperty="commodityId" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_commodity
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="companyId != null">
                company_id,
            </if>
            <if test="commodityName != null">
                commodity_name,
            </if>
            <if test="commodityIcon != null">
                commodity_icon,
            </if>
            <if test="commodityType != null">
                commodity_type,
            </if>
            <if test="rent != null">
                rent,
            </if>
            <if test="unit != null">
                unit,
            </if>
            <if test="location != null">
                location,
            </if>
            <if test="introduce != null">
                introduce,
            </if>
            <if test="specification != null">
                specification,
            </if>
            <if test="model != null">
                model,
            </if>
            <if test="stock != null">
                stock,
            </if>
            <if test="brand != null">
                brand,
            </if>
            <if test="power != null">
                power,
            </if>
            <if test="recommend != null">
                recommend,
            </if>
            <if test="activated != null">
                activated,
            </if>
            <if test="deleted != null">
                deleted,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="companyId != null">
                #{companyId,jdbcType=INTEGER},
            </if>
            <if test="commodityName != null">
                #{commodityName,jdbcType=VARCHAR},
            </if>
            <if test="commodityIcon != null">
                #{commodityIcon,jdbcType=VARCHAR},
            </if>
            <if test="commodityType != null">
                #{commodityType,jdbcType=INTEGER},
            </if>
            <if test="rent != null">
                #{rent,jdbcType=DECIMAL},
            </if>
            <if test="unit != null">
                #{unit,jdbcType=VARCHAR},
            </if>
            <if test="location != null">
                #{location,jdbcType=VARCHAR},
            </if>
            <if test="introduce != null">
                #{introduce,jdbcType=VARCHAR},
            </if>
            <if test="specification != null">
                #{specification,jdbcType=VARCHAR},
            </if>
            <if test="model != null">
                #{model,jdbcType=VARCHAR},
            </if>
            <if test="stock != null">
                #{stock,jdbcType=INTEGER},
            </if>
            <if test="brand != null">
                #{brand,jdbcType=VARCHAR},
            </if>
            <if test="power != null">
                #{power,jdbcType=VARCHAR},
            </if>
            <if test="recommend != null">
                #{recommend,jdbcType=VARCHAR},
            </if>
            <if test="activated != null">
                #{activated,jdbcType=INTEGER},
            </if>
            <if test="deleted != null">
                #{deleted,jdbcType=BIT},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.techwells.wumei.domain.Commodity">
        update t_commodity
        <set>
            <if test="companyId != null">
                company_id = #{companyId,jdbcType=INTEGER},
            </if>
            <if test="commodityName != null">
                commodity_name = #{commodityName,jdbcType=VARCHAR},
            </if>
            <if test="commodityIcon != null">
                commodity_icon = #{commodityIcon,jdbcType=VARCHAR},
            </if>
            <if test="commodityType != null">
                commodity_type = #{commodityType,jdbcType=INTEGER},
            </if>
            <if test="rent != null">
                rent = #{rent,jdbcType=DECIMAL},
            </if>
            <if test="unit != null">
                unit = #{unit,jdbcType=VARCHAR},
            </if>
            <if test="location != null">
                location = #{location,jdbcType=VARCHAR},
            </if>
            <if test="introduce != null">
                introduce = #{introduce,jdbcType=VARCHAR},
            </if>
            <if test="specification != null">
                specification = #{specification,jdbcType=VARCHAR},
            </if>
            <if test="model != null">
                model = #{model,jdbcType=VARCHAR},
            </if>
            <if test="model != null">
                stock = #{stock,jdbcType=INTEGER},
            </if>
            <if test="brand != null">
                brand = #{brand,jdbcType=VARCHAR},
            </if>
            <if test="power != null">
                power = #{power,jdbcType=VARCHAR},
            </if>
            <if test="recommend != null">
                recommend = #{recommend,jdbcType=VARCHAR},
            </if>
            <if test="rentStatus != null">
                rent_status = #{rentStatus,jdbcType=INTEGER},
            </if>
            <if test="activated != null">
                activated = #{activated,jdbcType=INTEGER},
            </if>
            <if test="deleted != null">
                deleted = #{deleted,jdbcType=BIT},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where commodity_id = #{commodityId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.techwells.wumei.domain.Commodity">
    update t_commodity
    set company_id = #{companyId,jdbcType=INTEGER},
      commodity_name = #{commodityName,jdbcType=VARCHAR},
      commodity_icon = #{commodityIcon,jdbcType=VARCHAR},
      commodity_type = #{commodityType,jdbcType=INTEGER},
      rent = #{rent,jdbcType=DECIMAL},
      unit = #{unit,jdbcType=VARCHAR},
      location = #{location,jdbcType=VARCHAR},
      introduce = #{introduce,jdbcType=VARCHAR},
      specification = #{specification,jdbcType=VARCHAR},
      model = #{model,jdbcType=VARCHAR},
      stock = #{stock,jdbcType=INTEGER},
      brand = #{brand,jdbcType=VARCHAR},
      power = #{power,jdbcType=VARCHAR},
      recommend = #{recommend,jdbcType=VARCHAR},
      rent_status = #{rentStatus,jdbcType=INTEGER},
      activated = #{activated,jdbcType=INTEGER},
      deleted = #{deleted,jdbcType=BIT},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where commodity_id = #{commodityId,jdbcType=INTEGER}
  </update>

    <update id="batchDelete">
        UPDATE t_commodity
        SET deleted = 1
        WHERE
        commodity_id IN
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>

    <update id="deleteCommodity">
    UPDATE t_commodity
    SET deleted = 1
    WHERE
        commodity_id = #{commodityId}
  </update>

    <update id="batchUpdateCommodityStatus">
        UPDATE t_commodity
        SET activated = #{activated}
        WHERE
        commodity_id IN
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>

    <select id="countTotal" resultType="java.lang.Integer">
        SELECT
        count(0)
        FROM
        t_commodity m
        LEFT JOIN t_company c ON ( c.company_id = m.company_id )
        WHERE
        m.deleted = 0
        AND c.deleted = 0
        <if test="params.commodityType != null and params.commodityType != '' ">
            AND m.commodity_type = #{params.commodityType,jdbcType=INTEGER}
        </if>
        <if test="params.commodityName != null and params.commodityName != '' ">
            AND LOCATE(#{params.commodityName,jdbcType=VARCHAR},m.commodity_name)
        </if>
        <if test="params.location != null and params.location != '' ">
            AND LOCATE( #{params.location,jdbcType=VARCHAR}, m.location )
        </if>
        <if test="params.recommend != null and params.recommend != '' ">
            AND m.recommend = #{params.recommend}
        </if>
        <if test="params.companyId != null and params.companyId != '' ">
            AND m.company_id = #{params.companyId}
        </if>
    </select>

    <select id="getCommodityList" resultType="com.techwells.wumei.domain.rs.RsCommodity">
        SELECT
        m.commodity_id AS commodityId,
        m.company_id AS companyId,
        m.commodity_name AS commodityName,
        c.company_name AS companyName,
        m.commodity_icon AS commodityIcon,
        m.rent AS rent,
        m.unit AS unit,
        m.location AS location,
        m.introduce AS introduce,
        m.specification AS specification,
        m.model AS model,
        m.brand AS brand,
        m.power AS power,
        m.recommend AS recommend,
        m.commodity_type AS commodityType,
        m.rent_status AS rentStatus,
        m.activated AS activated,
        m.create_date AS createDate
        FROM
        t_commodity m
        LEFT JOIN t_company c ON ( c.company_id = m.company_id )
        WHERE
        m.deleted = 0
        AND c.deleted = 0
        <if test="params.commodityType != null and params.commodityType != '' ">
            AND m.commodity_type = #{params.commodityType,jdbcType=INTEGER}
        </if>
        <if test="params.location != null and params.location != '' ">
            AND LOCATE( #{params.location,jdbcType=VARCHAR}, m.location )
        </if>
        <if test="params.recommend != null and params.recommend != '' ">
            AND m.recommend = #{params.recommend}
        </if>
        <if test="params.createDate != null and params.createDate != '' ">
            ORDER BY
            create_date DESC
        </if>
        <if test="params.location != null and params.location != '' ">
            AND LOCATE( #{params.location,jdbcType=VARCHAR}, m.location )
        </if>
        <if test="params.companyId != null and params.companyId != '' ">
            AND m.company_id = #{params.companyId}
        </if>
        limit
        #{startNum,jdbcType=INTEGER},
        #{pageSize,jdbcType=INTEGER}
    </select>

    <select id="getCommodityInfo" resultType="com.techwells.wumei.domain.rs.RsCommodity">
     SELECT
        m.commodity_id AS commodityId,
        m.company_id AS companyId,
        m.commodity_name AS commodityName,
        c.company_name AS companyName,
        c.contact AS companyContact,
        m.commodity_icon AS commodityIcon,
        m.rent AS rent,
        m.unit AS unit,
        m.location AS location,
        m.introduce AS introduce,
        m.specification AS specification,
        m.model AS model,
        m.brand AS brand,
        m.power AS power,
        m.create_date AS createDate
    FROM
        t_commodity m
        LEFT JOIN t_company c ON ( c.company_id = m.company_id )
    WHERE
        m.deleted = 0
        AND c.deleted = 0
        AND m.commodity_id = #{commodityId}
  </select>

    <update id="batchUpdateCommodityRecommend">
        UPDATE t_commodity
        SET recommend = #{recommend}
        WHERE
        commodity_id IN
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>

    <select id="getCollectCommodityList" resultType="com.techwells.wumei.domain.rs.RsCollect">
        SELECT
        c.commodity_id as commodityId,
        c.commodity_name as commodityName,
        c.commodity_icon as commodityIcon,
        c.rent as rent,
        c.unit as unit
        FROM
        t_commodity c
        WHERE
        c.commodity_id IN
        <foreach collection="list" item="bean" index="index" open="(" close=")" separator=",">
             #{bean}
        </foreach>
        limit
        #{pageTool.startNum,jdbcType=INTEGER},
        #{pageTool.pageSize,jdbcType=INTEGER}
    </select>
</mapper>