<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.techwells.wumei.dao.FocusMapper">
  <resultMap id="BaseResultMap" type="com.techwells.wumei.domain.Focus">
    <id column="focus_id" jdbcType="INTEGER" property="focusId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="focus_type" jdbcType="INTEGER" property="focusType" />
    <result column="relation_id" jdbcType="INTEGER" property="relationId" />
    <result column="activated" jdbcType="BIT" property="activated" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="updated_date" jdbcType="TIMESTAMP" property="updatedDate" />
  </resultMap>
  <sql id="Base_Column_List">
    focus_id, user_id, focus_type, relation_id, activated, deleted, created_date, updated_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_focus
    where focus_id = #{focusId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_focus
    where focus_id = #{focusId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.techwells.wumei.domain.Focus">
    <selectKey keyProperty="focusId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_focus (user_id, focus_type, relation_id, 
      activated, deleted, created_date, 
      updated_date)
    values (#{userId,jdbcType=INTEGER}, #{focusType,jdbcType=INTEGER}, #{relationId,jdbcType=INTEGER}, 
      #{activated,jdbcType=BIT}, #{deleted,jdbcType=BIT}, #{createdDate,jdbcType=TIMESTAMP}, 
      #{updatedDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.techwells.wumei.domain.Focus">
    <selectKey keyProperty="focusId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_focus
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="focusType != null">
        focus_type,
      </if>
      <if test="relationId != null">
        relation_id,
      </if>
      <if test="activated != null">
        activated,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="createdDate != null">
        created_date,
      </if>
      <if test="updatedDate != null">
        updated_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="focusType != null">
        #{focusType,jdbcType=INTEGER},
      </if>
      <if test="relationId != null">
        #{relationId,jdbcType=INTEGER},
      </if>
      <if test="activated != null">
        #{activated,jdbcType=BIT},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=BIT},
      </if>
      <if test="createdDate != null">
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedDate != null">
        #{updatedDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.techwells.wumei.domain.Focus">
    update t_focus
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="focusType != null">
        focus_type = #{focusType,jdbcType=INTEGER},
      </if>
      <if test="relationId != null">
        relation_id = #{relationId,jdbcType=INTEGER},
      </if>
      <if test="activated != null">
        activated = #{activated,jdbcType=BIT},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=BIT},
      </if>
      <if test="createdDate != null">
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedDate != null">
        updated_date = #{updatedDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where focus_id = #{focusId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.techwells.wumei.domain.Focus">
    update t_focus
    set user_id = #{userId,jdbcType=INTEGER},
      focus_type = #{focusType,jdbcType=INTEGER},
      relation_id = #{relationId,jdbcType=INTEGER},
      activated = #{activated,jdbcType=BIT},
      deleted = #{deleted,jdbcType=BIT},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      updated_date = #{updatedDate,jdbcType=TIMESTAMP}
    where focus_id = #{focusId,jdbcType=INTEGER}
  </update>

  <select id="selectFocusListByUserId" resultType="com.techwells.wumei.domain.rs.RsFocus">
  SELECT
      focus_id AS focusId,
      c.user_id AS userId,
      f.relation_id AS compandId,
      c.company_name AS companyName,
      c.company_introduction AS companyIntroduction,
      u.nick_name AS nickName,
      u.user_icon AS userIcon
  FROM
      t_focus f
      INNER JOIN t_company c ON ( c.company_id = f.relation_id )
      INNER JOIN t_user u ON ( u.user_id = c.user_id )
  WHERE
      f.user_id = #{userId}
      AND f.deleted = 0
      AND c.deleted = 0
      AND u.deleted = 0
  </select>

  <select id="focusCount" resultType="int">
  SELECT
      count( 0 )
  FROM
      t_focus
  WHERE
      deleted = 0
      and relation_id = #{relationId}
  </select>

  <delete id="cancelFocus">
    DELETE
    FROM
        t_focus
    WHERE
        user_id = #{userId}
        AND focus_type = #{focusType}
        AND relation_id = #{relationId}
  </delete>

  <select id="queryFocus" resultType="int">
  SELECT
      count( 0 )
  FROM
      t_focus
  WHERE
      deleted = 0
      AND user_id = #{userId}
      AND relation_id = #{relationId}
      AND focus_type = #{focusType}
  </select>

  <select id="countTotal" resultType="java.lang.Integer">
    SELECT
        count( 0 )
    FROM
        `t_focus`
    WHERE
        user_id =#{params.userId}
        AND deleted = 0
  </select>

  <select id="getFocusId" resultType="java.lang.Integer">
    SELECT
        focus_id
    FROM
        t_focus
    WHERE
        user_id = #{userId}
        AND relation_id = #{relationId}
        AND focus_type = #{focusType}
  </select>
</mapper>