<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.techwells.wumei.dao.GrouponMapper" >
  <resultMap id="BaseResultMap" type="com.techwells.wumei.domain.Groupon" >
    <id column="groupon_id" property="grouponId" jdbcType="INTEGER" />
    <result column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="number_limitation" property="numberLimitation" jdbcType="INTEGER" />
    <result column="provide_number" property="provideNumber" jdbcType="INTEGER" />
    <result column="original_price" property="originalPrice" jdbcType="DOUBLE" />
    <result column="current_price" property="currentPrice" jdbcType="DOUBLE" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="sort_index" property="sortIndex" jdbcType="INTEGER" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="activated" property="activated" jdbcType="BIT" />
    <result column="deleted" property="deleted" jdbcType="BIT" />
    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="updated_date" property="updatedDate" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <resultMap type="com.techwells.wumei.domain.rs.RsGroupon" id="RsGrouponMap" extends="BaseResultMap">
  	  <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="product_icon" property="productIcon" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    groupon_id, product_id, number_limitation, provide_number, original_price, current_price, 
    description, sort_index, start_time, end_time, activated, deleted, created_date, 
    updated_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_groupon
    where groupon_id = #{grouponId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_groupon
    where groupon_id = #{grouponId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.techwells.wumei.domain.Groupon" >
    <selectKey resultType="java.lang.Integer" keyProperty="grouponId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_groupon (product_id, number_limitation, provide_number, 
      original_price, current_price, description, 
      sort_index, start_time, end_time, 
      activated, deleted, created_date, 
      updated_date)
    values (#{productId,jdbcType=INTEGER}, #{numberLimitation,jdbcType=INTEGER}, #{provideNumber,jdbcType=INTEGER}, 
      #{originalPrice,jdbcType=DOUBLE}, #{currentPrice,jdbcType=DOUBLE}, #{description,jdbcType=VARCHAR}, 
      #{sortIndex,jdbcType=INTEGER}, #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, 
      #{activated,jdbcType=BIT}, #{deleted,jdbcType=BIT}, #{createdDate,jdbcType=TIMESTAMP}, 
      #{updatedDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.techwells.wumei.domain.Groupon" >
    <selectKey resultType="java.lang.Integer" keyProperty="grouponId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_groupon
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="productId != null" >
        product_id,
      </if>
      <if test="numberLimitation != null" >
        number_limitation,
      </if>
      <if test="provideNumber != null" >
        provide_number,
      </if>
      <if test="originalPrice != null" >
        original_price,
      </if>
      <if test="currentPrice != null" >
        current_price,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="sortIndex != null" >
        sort_index,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="activated != null" >
        activated,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
      <if test="createdDate != null" >
        created_date,
      </if>
      <if test="updatedDate != null" >
        updated_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="productId != null" >
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="numberLimitation != null" >
        #{numberLimitation,jdbcType=INTEGER},
      </if>
      <if test="provideNumber != null" >
        #{provideNumber,jdbcType=INTEGER},
      </if>
      <if test="originalPrice != null" >
        #{originalPrice,jdbcType=DOUBLE},
      </if>
      <if test="currentPrice != null" >
        #{currentPrice,jdbcType=DOUBLE},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="sortIndex != null" >
        #{sortIndex,jdbcType=INTEGER},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="activated != null" >
        #{activated,jdbcType=BIT},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=BIT},
      </if>
      <if test="createdDate != null" >
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedDate != null" >
        #{updatedDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.techwells.wumei.domain.Groupon" >
    update t_groupon
    <set >
      <if test="productId != null" >
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="numberLimitation != null" >
        number_limitation = #{numberLimitation,jdbcType=INTEGER},
      </if>
      <if test="provideNumber != null" >
        provide_number = #{provideNumber,jdbcType=INTEGER},
      </if>
      <if test="originalPrice != null" >
        original_price = #{originalPrice,jdbcType=DOUBLE},
      </if>
      <if test="currentPrice != null" >
        current_price = #{currentPrice,jdbcType=DOUBLE},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="sortIndex != null" >
        sort_index = #{sortIndex,jdbcType=INTEGER},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="activated != null" >
        activated = #{activated,jdbcType=BIT},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=BIT},
      </if>
      <if test="createdDate != null" >
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedDate != null" >
        updated_date = #{updatedDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where groupon_id = #{grouponId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.techwells.wumei.domain.Groupon" >
    update t_groupon
    set product_id = #{productId,jdbcType=INTEGER},
      number_limitation = #{numberLimitation,jdbcType=INTEGER},
      provide_number = #{provideNumber,jdbcType=INTEGER},
      original_price = #{originalPrice,jdbcType=DOUBLE},
      current_price = #{currentPrice,jdbcType=DOUBLE},
      description = #{description,jdbcType=VARCHAR},
      sort_index = #{sortIndex,jdbcType=INTEGER},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      activated = #{activated,jdbcType=BIT},
      deleted = #{deleted,jdbcType=BIT},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      updated_date = #{updatedDate,jdbcType=TIMESTAMP}
    where groupon_id = #{grouponId,jdbcType=INTEGER}
  </update>
  <select id="countTotal" resultType="java.lang.Integer">
		select count(g.groupon_id) from t_groupon g
		where 1=1
		<if test="params.grouponName !=null and params.grouponName!=''">
			and locate ( #{params.grouponName,jdbcType=VARCHAR} , g.groupo_name) > 0
		</if>
		
	</select>
	
	<select id="selectGrouponList" resultMap="RsGrouponMap">
		select g.* ,p.product_name,p.product_icon
		from t_groupon g
		left join t_product p
		on p.product_id = g.product_id
		where 1=1
		<if test="params.grouponName !=null and params.grouponName!=''">
			and locate ( #{params.grouponName,jdbcType=VARCHAR} , g.groupo_name) > 0
		</if>
		
		limit
		#{startNum,jdbcType=INTEGER},
		#{pageSize,jdbcType=INTEGER}
	</select>
	
	<select id="getGrouponListByProductId" resultMap="BaseResultMap" >
		select g.* from t_groupon g
		where g.product_id = #{productId,jdbcType=INTEGER}
	</select>
</mapper>