<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.techwells.wumei.dao.InvoiceMapper" >
  <resultMap id="BaseResultMap" type="com.techwells.wumei.domain.Invoice" >
    <id column="invoice_id" property="invoiceId" jdbcType="INTEGER" />
    <result column="balance_id" property="balanceId" jdbcType="INTEGER" />
    <result column="invoice_type" property="invoiceType" jdbcType="INTEGER" />
    <result column="invoice_title" property="invoiceTitle" jdbcType="VARCHAR" />
    <result column="ratepaying_code" property="ratepayingCode" jdbcType="VARCHAR" />
    <result column="contact_way" property="contactWay" jdbcType="VARCHAR" />
    <result column="bank_name" property="bankName" jdbcType="VARCHAR" />
    <result column="account" property="account" jdbcType="VARCHAR" />
    <result column="incoice_money" property="incoiceMoney" jdbcType="DOUBLE" />
    <result column="spare_int" property="spareInt" jdbcType="INTEGER" />
    <result column="spare_str" property="spareStr" jdbcType="VARCHAR" />
    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="updated_date" property="updatedDate" jdbcType="TIMESTAMP" />
    <result column="start_date" property="startDate" jdbcType="VARCHAR" />
    <result column="end_date" property="endDate" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    invoice_id, balance_id, invoice_type, invoice_title, ratepaying_code, contact_way, 
    bank_name, account, incoice_money, spare_int, spare_str, created_date, updated_date, 
    start_date, end_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_invoice
    where invoice_id = #{invoiceId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_invoice
    where invoice_id = #{invoiceId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.techwells.wumei.domain.Invoice" >
    <selectKey resultType="java.lang.Integer" keyProperty="invoiceId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_invoice (balance_id, invoice_type, invoice_title, 
      ratepaying_code, contact_way, bank_name, 
      account, incoice_money, spare_int, 
      spare_str, created_date, updated_date, 
      start_date, end_date)
    values (#{balanceId,jdbcType=INTEGER}, #{invoiceType,jdbcType=INTEGER}, #{invoiceTitle,jdbcType=VARCHAR}, 
      #{ratepayingCode,jdbcType=VARCHAR}, #{contactWay,jdbcType=VARCHAR}, #{bankName,jdbcType=VARCHAR}, 
      #{account,jdbcType=VARCHAR}, #{incoiceMoney,jdbcType=DOUBLE}, #{spareInt,jdbcType=INTEGER}, 
      #{spareStr,jdbcType=VARCHAR}, #{createdDate,jdbcType=TIMESTAMP}, #{updatedDate,jdbcType=TIMESTAMP}, 
      #{startDate,jdbcType=VARCHAR}, #{endDate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.techwells.wumei.domain.Invoice" >
    <selectKey resultType="java.lang.Integer" keyProperty="invoiceId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_invoice
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="balanceId != null" >
        balance_id,
      </if>
      <if test="invoiceType != null" >
        invoice_type,
      </if>
      <if test="invoiceTitle != null" >
        invoice_title,
      </if>
      <if test="ratepayingCode != null" >
        ratepaying_code,
      </if>
      <if test="contactWay != null" >
        contact_way,
      </if>
      <if test="bankName != null" >
        bank_name,
      </if>
      <if test="account != null" >
        account,
      </if>
      <if test="incoiceMoney != null" >
        incoice_money,
      </if>
      <if test="spareInt != null" >
        spare_int,
      </if>
      <if test="spareStr != null" >
        spare_str,
      </if>
      <if test="createdDate != null" >
        created_date,
      </if>
      <if test="updatedDate != null" >
        updated_date,
      </if>
      <if test="startDate != null" >
        start_date,
      </if>
      <if test="endDate != null" >
        end_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="balanceId != null" >
        #{balanceId,jdbcType=INTEGER},
      </if>
      <if test="invoiceType != null" >
        #{invoiceType,jdbcType=INTEGER},
      </if>
      <if test="invoiceTitle != null" >
        #{invoiceTitle,jdbcType=VARCHAR},
      </if>
      <if test="ratepayingCode != null" >
        #{ratepayingCode,jdbcType=VARCHAR},
      </if>
      <if test="contactWay != null" >
        #{contactWay,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null" >
        #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="account != null" >
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="incoiceMoney != null" >
        #{incoiceMoney,jdbcType=DOUBLE},
      </if>
      <if test="spareInt != null" >
        #{spareInt,jdbcType=INTEGER},
      </if>
      <if test="spareStr != null" >
        #{spareStr,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null" >
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedDate != null" >
        #{updatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="startDate != null" >
        #{startDate,jdbcType=VARCHAR},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.techwells.wumei.domain.Invoice" >
    update t_invoice
    <set >
      <if test="balanceId != null" >
        balance_id = #{balanceId,jdbcType=INTEGER},
      </if>
      <if test="invoiceType != null" >
        invoice_type = #{invoiceType,jdbcType=INTEGER},
      </if>
      <if test="invoiceTitle != null" >
        invoice_title = #{invoiceTitle,jdbcType=VARCHAR},
      </if>
      <if test="ratepayingCode != null" >
        ratepaying_code = #{ratepayingCode,jdbcType=VARCHAR},
      </if>
      <if test="contactWay != null" >
        contact_way = #{contactWay,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null" >
        bank_name = #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="account != null" >
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="incoiceMoney != null" >
        incoice_money = #{incoiceMoney,jdbcType=DOUBLE},
      </if>
      <if test="spareInt != null" >
        spare_int = #{spareInt,jdbcType=INTEGER},
      </if>
      <if test="spareStr != null" >
        spare_str = #{spareStr,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null" >
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedDate != null" >
        updated_date = #{updatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="startDate != null" >
        start_date = #{startDate,jdbcType=VARCHAR},
      </if>
      <if test="endDate != null" >
        end_date = #{endDate,jdbcType=VARCHAR},
      </if>
    </set>
    where invoice_id = #{invoiceId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.techwells.wumei.domain.Invoice" >
    update t_invoice
    set balance_id = #{balanceId,jdbcType=INTEGER},
      invoice_type = #{invoiceType,jdbcType=INTEGER},
      invoice_title = #{invoiceTitle,jdbcType=VARCHAR},
      ratepaying_code = #{ratepayingCode,jdbcType=VARCHAR},
      contact_way = #{contactWay,jdbcType=VARCHAR},
      bank_name = #{bankName,jdbcType=VARCHAR},
      account = #{account,jdbcType=VARCHAR},
      incoice_money = #{incoiceMoney,jdbcType=DOUBLE},
      spare_int = #{spareInt,jdbcType=INTEGER},
      spare_str = #{spareStr,jdbcType=VARCHAR},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      updated_date = #{updatedDate,jdbcType=TIMESTAMP},
      start_date = #{startDate,jdbcType=VARCHAR},
      end_date = #{endDate,jdbcType=VARCHAR}
    where invoice_id = #{invoiceId,jdbcType=INTEGER}
  </update>
  <select id="countTotal" resultType="java.lang.Integer">
		select count(i.invoice_id) from t_invoice i
		where 1=1
		<if test="params.userId !=null and params.userId !=''">
			and g.user_id = #{params.userId,jdbcType=INTEGER}
		</if>
	</select>
	<select id="selectInvoiceList" resultMap="BaseResultMap">
		select i.* from t_invoice i
		where 1=1
		<if test="params.userId !=null and params.userId !=''">
			and i.user_id = #{params.userId,jdbcType=INTEGER}
		</if>
		limit
		#{startNum,jdbcType=INTEGER},
		#{pageSize,jdbcType=INTEGER}
	</select>
</mapper>