<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.techwells.wumei.dao.ProductMapper" >
  <resultMap id="BaseResultMap" type="com.techwells.wumei.domain.Product" >
    <id column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="merchant_id" property="merchantId" jdbcType="INTEGER" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="product_name_en" property="productNameEn" jdbcType="VARCHAR" />
    <result column="product_icon" property="productIcon" jdbcType="VARCHAR" />
    <result column="unit" property="unit" jdbcType="VARCHAR" />
    <result column="product_type" property="productType" jdbcType="INTEGER" />
    <result column="sale_price" property="salePrice" jdbcType="DOUBLE" />
    <result column="purchase_price" property="purchasePrice" jdbcType="DOUBLE" />
    <result column="is_score_product" property="isScoreProduct" jdbcType="BIT" />
    <result column="score_proportion" property="scoreProportion" jdbcType="DOUBLE" />
    <result column="specification" property="specification" jdbcType="VARCHAR" />
    <result column="stock" property="stock" jdbcType="INTEGER" />
    <result column="brand_id" property="brandId" jdbcType="INTEGER" />
    <result column="production_place" property="productionPlace" jdbcType="VARCHAR" />
    <result column="product_profile" property="productProfile" jdbcType="VARCHAR" />
    <result column="material" property="material" jdbcType="VARCHAR" />
    <result column="express" jdbcType="DOUBLE" property="express" />
    <result column="activated" property="activated" jdbcType="INTEGER" />
    <result column="deleted" property="deleted" jdbcType="BIT" />
    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="updated_date" property="updatedDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.techwells.wumei.domain.Product" extends="BaseResultMap" >
    <result column="description" property="description" jdbcType="LONGVARCHAR" />
  </resultMap>

  <resultMap id="RsProductMap" type="com.techwells.wumei.domain.rs.RsProduct" extends="BaseResultMap">
    <result column="brand_name" property="brandName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    product_id, merchant_id, product_name, product_name_en, product_icon, unit, product_type, 
    sale_price, purchase_price, is_score_product, score_proportion, specification, stock, 
    brand_id, production_place, product_profile, material,express, activated, deleted, created_date,
    updated_date
  </sql>
  <sql id="Blob_Column_List" >
    description
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_product
    where product_id = #{productId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_product
    where product_id = #{productId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.techwells.wumei.domain.Product" >
    <selectKey resultType="java.lang.Integer" keyProperty="productId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_product (merchant_id, product_name, product_name_en, 
      product_icon, unit, product_type, 
      sale_price, purchase_price, is_score_product, 
      score_proportion, specification, stock, 
      brand_id, production_place, product_profile, 
      material,express, activated, deleted,
      created_date, updated_date, description
      )
    values (#{merchantId,jdbcType=INTEGER}, #{productName,jdbcType=VARCHAR}, #{productNameEn,jdbcType=VARCHAR}, 
      #{productIcon,jdbcType=VARCHAR}, #{unit,jdbcType=VARCHAR}, #{productType,jdbcType=INTEGER}, 
      #{salePrice,jdbcType=DOUBLE}, #{purchasePrice,jdbcType=DOUBLE}, #{isScoreProduct,jdbcType=BIT}, 
      #{scoreProportion,jdbcType=DOUBLE}, #{specification,jdbcType=VARCHAR}, #{stock,jdbcType=INTEGER}, 
      #{brandId,jdbcType=INTEGER}, #{productionPlace,jdbcType=VARCHAR}, #{productProfile,jdbcType=VARCHAR}, 
      #{material,jdbcType=VARCHAR}, #{express,jdbcType=DOUBLE}, #{activated,jdbcType=INTEGER}, #{deleted,jdbcType=BIT},
      #{createdDate,jdbcType=TIMESTAMP}, #{updatedDate,jdbcType=TIMESTAMP}, #{description,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.techwells.wumei.domain.Product" useGeneratedKeys="true" keyProperty="productId">
<!--    <selectKey resultType="java.lang.Integer" keyProperty="productId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>-->
    insert into t_product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="merchantId != null" >
        merchant_id,
      </if>
      <if test="productName != null" >
        product_name,
      </if>
      <if test="productNameEn != null" >
        product_name_en,
      </if>
      <if test="productIcon != null" >
        product_icon,
      </if>
      <if test="unit != null" >
        unit,
      </if>
      <if test="productType != null" >
        product_type,
      </if>
      <if test="salePrice != null" >
        sale_price,
      </if>
      <if test="purchasePrice != null" >
        purchase_price,
      </if>
      <if test="isScoreProduct != null" >
        is_score_product,
      </if>
      <if test="scoreProportion != null" >
        score_proportion,
      </if>
      <if test="specification != null" >
        specification,
      </if>
      <if test="stock != null" >
        stock,
      </if>
      <if test="brandId != null" >
        brand_id,
      </if>
      <if test="productionPlace != null" >
        production_place,
      </if>
      <if test="productProfile != null" >
        product_profile,
      </if>
      <if test="material != null" >
        material,
      </if>
      <if test="express != null">
        express,
      </if>
      <if test="activated != null" >
        activated,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
      <if test="createdDate != null" >
        created_date,
      </if>
      <if test="updatedDate != null" >
        updated_date,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="merchantId != null" >
        #{merchantId,jdbcType=INTEGER},
      </if>
      <if test="productName != null" >
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productNameEn != null" >
        #{productNameEn,jdbcType=VARCHAR},
      </if>
      <if test="productIcon != null" >
        #{productIcon,jdbcType=VARCHAR},
      </if>
      <if test="unit != null" >
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="productType != null" >
        #{productType,jdbcType=INTEGER},
      </if>
      <if test="salePrice != null" >
        #{salePrice,jdbcType=DOUBLE},
      </if>
      <if test="purchasePrice != null" >
        #{purchasePrice,jdbcType=DOUBLE},
      </if>
      <if test="isScoreProduct != null" >
        #{isScoreProduct,jdbcType=BIT},
      </if>
      <if test="scoreProportion != null" >
        #{scoreProportion,jdbcType=DOUBLE},
      </if>
      <if test="specification != null" >
        #{specification,jdbcType=VARCHAR},
      </if>
      <if test="stock != null" >
        #{stock,jdbcType=INTEGER},
      </if>
      <if test="brandId != null" >
        #{brandId,jdbcType=INTEGER},
      </if>
      <if test="productionPlace != null" >
        #{productionPlace,jdbcType=VARCHAR},
      </if>
      <if test="productProfile != null" >
        #{productProfile,jdbcType=VARCHAR},
      </if>
      <if test="material != null" >
        #{material,jdbcType=VARCHAR},
      </if>
      <if test="express != null">
        #{express,jdbcType=DOUBLE},
      </if>
      <if test="activated != null" >
        #{activated,jdbcType=INTEGER},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=BIT},
      </if>
      <if test="createdDate != null" >
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedDate != null" >
        #{updatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null" >
        #{description,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.techwells.wumei.domain.Product" >
    update t_product
    <set >
      <if test="merchantId != null" >
        merchant_id = #{merchantId,jdbcType=INTEGER},
      </if>
      <if test="productName != null" >
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productNameEn != null" >
        product_name_en = #{productNameEn,jdbcType=VARCHAR},
      </if>
      <if test="productIcon != null" >
        product_icon = #{productIcon,jdbcType=VARCHAR},
      </if>
      <if test="unit != null" >
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="productType != null" >
        product_type = #{productType,jdbcType=INTEGER},
      </if>
      <if test="salePrice != null" >
        sale_price = #{salePrice,jdbcType=DOUBLE},
      </if>
      <if test="purchasePrice != null" >
        purchase_price = #{purchasePrice,jdbcType=DOUBLE},
      </if>
      <if test="isScoreProduct != null" >
        is_score_product = #{isScoreProduct,jdbcType=BIT},
      </if>
      <if test="scoreProportion != null" >
        score_proportion = #{scoreProportion,jdbcType=DOUBLE},
      </if>
      <if test="specification != null" >
        specification = #{specification,jdbcType=VARCHAR},
      </if>
      <if test="stock != null" >
        stock = #{stock,jdbcType=INTEGER},
      </if>
      <if test="brandId != null" >
        brand_id = #{brandId,jdbcType=INTEGER},
      </if>
      <if test="productionPlace != null" >
        production_place = #{productionPlace,jdbcType=VARCHAR},
      </if>
      <if test="productProfile != null" >
        product_profile = #{productProfile,jdbcType=VARCHAR},
      </if>
      <if test="material != null" >
        material = #{material,jdbcType=VARCHAR},
      </if>
      <if test="express != null">
        express = #{express,jdbcType=DOUBLE},
      </if>
      <if test="activated != null" >
        activated = #{activated,jdbcType=INTEGER},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=BIT},
      </if>
      <if test="createdDate != null" >
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedDate != null" >
        updated_date = #{updatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where product_id = #{productId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.techwells.wumei.domain.Product" >
    update t_product
    set merchant_id = #{merchantId,jdbcType=INTEGER},
      product_name = #{productName,jdbcType=VARCHAR},
      product_name_en = #{productNameEn,jdbcType=VARCHAR},
      product_icon = #{productIcon,jdbcType=VARCHAR},
      unit = #{unit,jdbcType=VARCHAR},
      product_type = #{productType,jdbcType=INTEGER},
      sale_price = #{salePrice,jdbcType=DOUBLE},
      purchase_price = #{purchasePrice,jdbcType=DOUBLE},
      is_score_product = #{isScoreProduct,jdbcType=BIT},
      score_proportion = #{scoreProportion,jdbcType=DOUBLE},
      specification = #{specification,jdbcType=VARCHAR},
      stock = #{stock,jdbcType=INTEGER},
      brand_id = #{brandId,jdbcType=INTEGER},
      production_place = #{productionPlace,jdbcType=VARCHAR},
      product_profile = #{productProfile,jdbcType=VARCHAR},
      material = #{material,jdbcType=VARCHAR},
      express = #{express,jdbcType=DOUBLE},
      activated = #{activated,jdbcType=INTEGER},
      deleted = #{deleted,jdbcType=BIT},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      updated_date = #{updatedDate,jdbcType=TIMESTAMP},
      description = #{description,jdbcType=LONGVARCHAR}
    where product_id = #{productId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.techwells.wumei.domain.Product" >
    update t_product
    set merchant_id = #{merchantId,jdbcType=INTEGER},
      product_name = #{productName,jdbcType=VARCHAR},
      product_name_en = #{productNameEn,jdbcType=VARCHAR},
      product_icon = #{productIcon,jdbcType=VARCHAR},
      unit = #{unit,jdbcType=VARCHAR},
      product_type = #{productType,jdbcType=INTEGER},
      sale_price = #{salePrice,jdbcType=DOUBLE},
      purchase_price = #{purchasePrice,jdbcType=DOUBLE},
      is_score_product = #{isScoreProduct,jdbcType=BIT},
      score_proportion = #{scoreProportion,jdbcType=DOUBLE},
      specification = #{specification,jdbcType=VARCHAR},
      stock = #{stock,jdbcType=INTEGER},
      brand_id = #{brandId,jdbcType=INTEGER},
      production_place = #{productionPlace,jdbcType=VARCHAR},
      product_profile = #{productProfile,jdbcType=VARCHAR},
      material = #{material,jdbcType=VARCHAR},
      express = #{express,jdbcType=DOUBLE},
      activated = #{activated,jdbcType=INTEGER},
      deleted = #{deleted,jdbcType=BIT},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      updated_date = #{updatedDate,jdbcType=TIMESTAMP}
    where product_id = #{productId,jdbcType=INTEGER}
  </update>
  <select id="countTotal" resultType="java.lang.Integer">
    select count(p.product_id) FROM
    t_product p
    LEFT JOIN t_brand b ON ( b.brand_id = p.brand_id )
    where 1 = 1
    <if test="params.productType !=null and params.productType !=''">
      and p.product_type = #{params.productType,jdbcType=INTEGER}
    </if>
    <if test="params.merchantId !=null and params.merchantId !=''">
      and p.merchant_id = #{params.merchantId,jdbcType=INTEGER}
    </if>
    <if test="params.productName !=null and params.productName !=''">
      and locate ( #{params.productName,jdbcType=VARCHAR} , p.product_name) > 0
    </if>
    <if test="params.brandId !=null and params.brandId !=''">
      and p.brand_id = #{params.brandId,jdbcType=VARCHAR}
    </if>
    <if test="params.productId !=null and params.productId !=''">
      and p.product_id =#{params.productId,jdbcType=INTEGER}
    </if>
    <if test="params.publishStatus !=null and params.publishStatus !=''">
      and p.activated = #{params.publishStatus,jdbcType=INTEGER}
    </if>
    <if test="params.verifyStatus !=null and params.verifyStatus !=''">
      and p.activated = #{params.verifyStatus,jdbcType=INTEGER}
    </if>
    and p.deleted = '0'
	</select>
	<select id="selectProductList" resultMap="RsProductMap">
      SELECT
      p.* ,
      b.brand_name
      FROM
      t_product p
      LEFT JOIN t_brand b ON ( b.brand_id = p.brand_id )
      where 1 = 1
      <if test="params.productType !=null and params.productType !=''">
        and p.product_type = #{params.productType,jdbcType=INTEGER}
      </if>
      <if test="params.merchantId !=null and params.merchantId !=''">
        and p.merchant_id = #{params.merchantId,jdbcType=INTEGER}
      </if>
      <if test="params.productName !=null and params.productName !=''">
        and locate ( #{params.productName,jdbcType=VARCHAR} , p.product_name) > 0
      </if>
      <if test="params.brandId !=null and params.brandId !=''">
        and p.brand_id = #{params.brandId,jdbcType=VARCHAR}
      </if>
      <if test="params.productId !=null and params.productId !=''">
        and p.product_id =#{params.productId,jdbcType=INTEGER}
      </if>
      <if test="params.publishStatus !=null and params.publishStatus !=''">
        and p.activated = #{params.publishStatus,jdbcType=INTEGER}
      </if>
      <if test="params.verifyStatus !=null and params.verifyStatus !=''">
        and p.activated = #{params.verifyStatus,jdbcType=INTEGER}
      </if>
      and p.deleted = '0'
      limit
      #{startNum,jdbcType=INTEGER},
      #{pageSize,jdbcType=INTEGER}
	</select>
	
	<select id="selectByProductName" resultMap="BaseResultMap">
		select p.* from t_product p
		where p.product_name =#{productName,jdbcType=VARCHAR}
	</select>
	
	<update id="batchDelete" parameterType="java.lang.String">
		update t_product
		set deleted = 1
		where product_id in
		<foreach collection="ids" item="id" index="index"
            open="(" close=")" separator=",">
            #{id}
        </foreach>
	</update>

  <!--批量更新商品上下架状态-->
  <update id="batchUpdateActivated">
    UPDATE t_product
    SET activated = #{activated}
    WHERE product_id in
    <foreach collection="array" item="id" open="(" separator="," close=")">
      #{id}
    </foreach>
  </update>

  <select id="getPopularList" resultType="com.techwells.wumei.domain.PopularProductVO">
    SELECT
    m.merchant_name AS merchantName,
    m.user_id AS merchantId,
    p.product_id AS productId,
    p.product_name AS productName,
    p.sale_price AS salePrice,
    p.unit AS unit,
    p.product_icon AS productIcon,
    p.product_type AS productType
    FROM
        `t_product` p
        LEFT JOIN t_merchant m ON ( p.merchant_id = m.user_id )
        INNER JOIN t_recommend r ON ( r.product_id = p.product_id )
    <where>
      p.activated = 2
	<if test="params.productType != null and params.productType != '' ">
      AND   p.product_type = #{params.productType}
    </if>
    <if test="params.merchantId != null and params.merchantId != '' ">
      AND 	m.user_id  = #{params.merchantId}
    </if>
    <if test="params.productName != null and params.productName != '' ">
      AND  LOCATE(#{params.productName},p.product_name)
    </if>

    </where>
    ORDER BY
    r.sort_index
    limit
    #{startNum,jdbcType=INTEGER},
    #{pageSize,jdbcType=INTEGER}
  </select>
  <select id="popularProductCount" resultType="java.lang.Integer">
    SELECT
    count(0)
    FROM
    `t_product` p
    LEFT JOIN t_merchant m ON ( p.merchant_id = m.user_id )
    INNER JOIN t_recommend r ON ( r.product_id = p.product_id )
    <where>
      p.activated = 2
      <if test="params.productType != null and params.productType != '' ">
        AND   p.product_type = #{params.productType}
      </if>
      <if test="params.merchantId != null and params.merchantId != '' ">
        AND 	m.user_id  = #{params.merchantId}
      </if>
      <if test="params.productName != null and params.productName != '' ">
        AND  LOCATE(#{params.productName},p.product_name)
      </if>

    </where>
  </select>

</mapper>