<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.techwells.wumei.dao.PVMapper">
  <resultMap id="BaseResultMap" type="com.techwells.wumei.domain.PV">
    <id column="pv_id" jdbcType="INTEGER" property="pvId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="relation_id" jdbcType="INTEGER" property="relationId" />
    <result column="pv_type" jdbcType="INTEGER" property="pvType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    pv_id, user_id, relation_id, pv_type, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_pv
    where pv_id = #{pvId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_pv
    where pv_id = #{pvId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.techwells.wumei.domain.PV">
    <selectKey keyProperty="pvId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_pv (user_id, relation_id, pv_type, 
      create_time)
    values (#{userId,jdbcType=INTEGER}, #{relationId,jdbcType=INTEGER}, #{pvType,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.techwells.wumei.domain.PV">
    <selectKey keyProperty="pvId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_pv
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="relationId != null">
        relation_id,
      </if>
      <if test="pvType != null">
        pv_type,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="relationId != null">
        #{relationId,jdbcType=INTEGER},
      </if>
      <if test="pvType != null">
        #{pvType,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.techwells.wumei.domain.PV">
    update t_pv
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="relationId != null">
        relation_id = #{relationId,jdbcType=INTEGER},
      </if>
      <if test="pvType != null">
        pv_type = #{pvType,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where pv_id = #{pvId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.techwells.wumei.domain.PV">
    update t_pv
    set user_id = #{userId,jdbcType=INTEGER},
      relation_id = #{relationId,jdbcType=INTEGER},
      pv_type = #{pvType,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where pv_id = #{pvId,jdbcType=INTEGER}
  </update>

  <select id="countTotal" resultType="int">
    SELECT
        count( 0 )
    FROM
        `t_pv`
    <where>
      <if test="params.relationId != null and params.relationId != '' ">
        relation_id = #{params.relationId}
      </if>
      <if test="params.pvType != null and params.pvType != '' ">
        AND pv_type = #{params.pvType}
      </if>
    </where>
  </select>

  <select id="pvTotal" resultType="int">
    SELECT
        count( 0 )
    FROM
        `t_pv`
    <where>
      relation_id = #{relationId}
      AND pv_type = #{pvType}
    </where>
  </select>
</mapper>