<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.techwells.wumei.dao.ReportMapper" >
  <resultMap id="BaseResultMap" type="com.techwells.wumei.domain.Report" >
    <id column="report_id" property="reportId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="report_type" property="reportType" jdbcType="INTEGER" />
    <result column="relation_id" property="relationId" jdbcType="INTEGER" />
    <result column="image_url" property="imageUrl" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="activated" property="activated" jdbcType="INTEGER" />
    <result column="deleted" property="deleted" jdbcType="BIT" />
    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="updated_date" property="updatedDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    report_id, user_id, report_type, relation_id, image_url, content, remarks, activated, 
    deleted, created_date, updated_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_report
    where report_id = #{reportId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_report
    where report_id = #{reportId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.techwells.wumei.domain.Report" >
    <selectKey resultType="java.lang.Integer" keyProperty="reportId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_report (user_id, report_type, relation_id, 
      image_url, content, remarks, 
      activated, deleted, created_date, 
      updated_date)
    values (#{userId,jdbcType=INTEGER}, #{reportType,jdbcType=INTEGER}, #{relationId,jdbcType=INTEGER}, 
      #{imageUrl,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, 
      #{activated,jdbcType=INTEGER}, #{deleted,jdbcType=BIT}, #{createdDate,jdbcType=TIMESTAMP}, 
      #{updatedDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.techwells.wumei.domain.Report" >
    <selectKey resultType="java.lang.Integer" keyProperty="reportId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_report
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="reportType != null" >
        report_type,
      </if>
      <if test="relationId != null" >
        relation_id,
      </if>
      <if test="imageUrl != null" >
        image_url,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="activated != null" >
        activated,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
      <if test="createdDate != null" >
        created_date,
      </if>
      <if test="updatedDate != null" >
        updated_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="reportType != null" >
        #{reportType,jdbcType=INTEGER},
      </if>
      <if test="relationId != null" >
        #{relationId,jdbcType=INTEGER},
      </if>
      <if test="imageUrl != null" >
        #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="activated != null" >
        #{activated,jdbcType=INTEGER},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=BIT},
      </if>
      <if test="createdDate != null" >
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedDate != null" >
        #{updatedDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.techwells.wumei.domain.Report" >
    update t_report
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="reportType != null" >
        report_type = #{reportType,jdbcType=INTEGER},
      </if>
      <if test="relationId != null" >
        relation_id = #{relationId,jdbcType=INTEGER},
      </if>
      <if test="imageUrl != null" >
        image_url = #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="activated != null" >
        activated = #{activated,jdbcType=INTEGER},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=BIT},
      </if>
      <if test="createdDate != null" >
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedDate != null" >
        updated_date = #{updatedDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where report_id = #{reportId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.techwells.wumei.domain.Report" >
    update t_report
    set user_id = #{userId,jdbcType=INTEGER},
      report_type = #{reportType,jdbcType=INTEGER},
      relation_id = #{relationId,jdbcType=INTEGER},
      image_url = #{imageUrl,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      activated = #{activated,jdbcType=INTEGER},
      deleted = #{deleted,jdbcType=BIT},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      updated_date = #{updatedDate,jdbcType=TIMESTAMP}
    where report_id = #{reportId,jdbcType=INTEGER}
  </update>
  <select id="countTotal" resultType="java.lang.Integer">
		select count(r.report_id) from t_report r
		where 1=1
		<if test="params.userId !=null and params.userId !=''">
			and user_id = #{params.userId,jdbcType=INTEGER}
		</if>
		<if test="params.reportType !=null and params.reportType !=''">
			and report_type = #{params.reportType,jdbcType=INTEGER}
		</if>
	</select>
	<select id="selectReportList" resultMap="BaseResultMap">
		select r.* from t_report r
		where 1=1
		<if test="params.userId !=null and params.userId !=''">
			and user_id = #{params.userId,jdbcType=INTEGER}
		</if>
		<if test="params.reportType !=null and params.reportType !=''">
			and report_type = #{params.reportType,jdbcType=INTEGER}
		</if>
		limit
		#{startNum,jdbcType=INTEGER},
		#{pageSize,jdbcType=INTEGER}
	</select>
</mapper>