<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.techwells.wumei.dao.ScoreMapper" >
  <resultMap id="BaseResultMap" type="com.techwells.wumei.domain.Score" >
    <id column="score_id" property="scoreId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="strategy_id" property="strategyId" jdbcType="INTEGER" />
    <result column="relation_id" property="relationId" jdbcType="INTEGER" />
    <result column="score" property="score" jdbcType="INTEGER" />
    <result column="activated" property="activated" jdbcType="BIT" />
    <result column="deleted" property="deleted" jdbcType="BIT" />
    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="updated_date" property="updatedDate" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <resultMap id="RsScoreMap" type="com.techwells.wumei.domain.rs.RsScore" extends="BaseResultMap">
	<result column="strategy_name" property="strategyName" jdbcType="VARCHAR" />
    <result column="balance_type" property="balanceType" jdbcType="INTEGER" />   
  </resultMap>
  
  <sql id="Base_Column_List" >
    score_id, user_id, strategy_id, relation_id, score, activated, deleted, created_date, 
    updated_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_score
    where score_id = #{scoreId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_score
    where score_id = #{scoreId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.techwells.wumei.domain.Score" >
    <selectKey resultType="java.lang.Integer" keyProperty="scoreId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_score (user_id, strategy_id, relation_id, 
      score, activated, deleted, 
      created_date, updated_date)
    values (#{userId,jdbcType=INTEGER}, #{strategyId,jdbcType=INTEGER}, #{relationId,jdbcType=INTEGER}, 
      #{score,jdbcType=INTEGER}, #{activated,jdbcType=BIT}, #{deleted,jdbcType=BIT}, 
      #{createdDate,jdbcType=TIMESTAMP}, #{updatedDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.techwells.wumei.domain.Score" >
    <selectKey resultType="java.lang.Integer" keyProperty="scoreId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_score
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="strategyId != null" >
        strategy_id,
      </if>
      <if test="relationId != null" >
        relation_id,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="activated != null" >
        activated,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
      <if test="createdDate != null" >
        created_date,
      </if>
      <if test="updatedDate != null" >
        updated_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="strategyId != null" >
        #{strategyId,jdbcType=INTEGER},
      </if>
      <if test="relationId != null" >
        #{relationId,jdbcType=INTEGER},
      </if>
      <if test="score != null" >
        #{score,jdbcType=INTEGER},
      </if>
      <if test="activated != null" >
        #{activated,jdbcType=BIT},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=BIT},
      </if>
      <if test="createdDate != null" >
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedDate != null" >
        #{updatedDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.techwells.wumei.domain.Score" >
    update t_score
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="strategyId != null" >
        strategy_id = #{strategyId,jdbcType=INTEGER},
      </if>
      <if test="relationId != null" >
        relation_id = #{relationId,jdbcType=INTEGER},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="activated != null" >
        activated = #{activated,jdbcType=BIT},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=BIT},
      </if>
      <if test="createdDate != null" >
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedDate != null" >
        updated_date = #{updatedDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where score_id = #{scoreId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.techwells.wumei.domain.Score" >
    update t_score
    set user_id = #{userId,jdbcType=INTEGER},
      strategy_id = #{strategyId,jdbcType=INTEGER},
      relation_id = #{relationId,jdbcType=INTEGER},
      score = #{score,jdbcType=INTEGER},
      activated = #{activated,jdbcType=BIT},
      deleted = #{deleted,jdbcType=BIT},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      updated_date = #{updatedDate,jdbcType=TIMESTAMP}
    where score_id = #{scoreId,jdbcType=INTEGER}
  </update>
  
  <select id="countTotal" resultType="java.lang.Integer">
		select count(s.score_id) from t_score s
		left join t_strategy st
		on s.strategy_id = st.strategy_id
		where 1=1
		<if test="params.userId !=null and params.userId !=''">
			and s.user_id = #{params.userId,jdbcType=INTEGER}
		</if>
	</select>
	<select id="selectScoreList" resultMap="RsScoreMap">
		select s.*, st.strategy_name, st.balance_type from t_score s
		left join t_strategy st
		on s.strategy_id = st.strategy_id
		where 1=1
		<if test="params.userId !=null and params.userId !=''">
			and s.user_id = #{params.userId,jdbcType=INTEGER}
		</if>
		limit
		#{startNum,jdbcType=INTEGER},
		#{pageSize,jdbcType=INTEGER}
	</select>
</mapper>