<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.techwells.wumei.dao.SettingMapper" >
  <resultMap id="BaseResultMap" type="com.techwells.wumei.domain.Setting" >
    <id column="setting_id" property="settingId" jdbcType="INTEGER" />
    <result column="winning_probability" property="winningProbability" jdbcType="INTEGER" />
    <result column="consumption_integral" property="consumptionIntegral" jdbcType="INTEGER" />
    <result column="draw_starttime" property="drawStarttime" jdbcType="TIMESTAMP" />
    <result column="draw_endtime" property="drawEndtime" jdbcType="TIMESTAMP" />
    <result column="award_rule" property="awardRule" jdbcType="VARCHAR" />
    <result column="contact_download_url" property="contactDownloadUrl" jdbcType="VARCHAR" />
    <result column="qrcode_bg_url" property="qrcodeBgUrl" jdbcType="VARCHAR" />
    <result column="using_fee" property="usingFee" jdbcType="DOUBLE" />
    <result column="management_fee" property="managementFee" jdbcType="DOUBLE" />
    <result column="sales_income" property="salesIncome" jdbcType="DOUBLE" />
    <result column="assistant_income" property="assistantIncome" jdbcType="DOUBLE" />
    <result column="wechat_fee" property="wechatFee" jdbcType="DOUBLE" />
    <result column="integral_proportion" property="integralProportion" jdbcType="DOUBLE" />
    <result column="service_invoice" property="serviceInvoice" jdbcType="DOUBLE" />
    <result column="freight_invoice" property="freightInvoice" jdbcType="DOUBLE" />
    <result column="creator_id" property="creatorId" jdbcType="INTEGER" />
    <result column="activated" property="activated" jdbcType="BIT" />
    <result column="deleted" property="deleted" jdbcType="BIT" />
    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="updated_date" property="updatedDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    setting_id, winning_probability, consumption_integral, draw_starttime, draw_endtime, 
    award_rule, contact_download_url, qrcode_bg_url, using_fee, management_fee, sales_income, 
    assistant_income, wechat_fee, integral_proportion, service_invoice, freight_invoice, 
    creator_id, activated, deleted, created_date, updated_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_setting
    where setting_id = #{settingId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_setting
    where setting_id = #{settingId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.techwells.wumei.domain.Setting" >
    <selectKey resultType="java.lang.Integer" keyProperty="settingId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_setting (winning_probability, consumption_integral, 
      draw_starttime, draw_endtime, award_rule, 
      contact_download_url, qrcode_bg_url, using_fee, 
      management_fee, sales_income, assistant_income, 
      wechat_fee, integral_proportion, service_invoice, 
      freight_invoice, creator_id, activated, 
      deleted, created_date, updated_date
      )
    values (#{winningProbability,jdbcType=INTEGER}, #{consumptionIntegral,jdbcType=INTEGER}, 
      #{drawStarttime,jdbcType=TIMESTAMP}, #{drawEndtime,jdbcType=TIMESTAMP}, #{awardRule,jdbcType=VARCHAR}, 
      #{contactDownloadUrl,jdbcType=VARCHAR}, #{qrcodeBgUrl,jdbcType=VARCHAR}, #{usingFee,jdbcType=DOUBLE}, 
      #{managementFee,jdbcType=DOUBLE}, #{salesIncome,jdbcType=DOUBLE}, #{assistantIncome,jdbcType=DOUBLE}, 
      #{wechatFee,jdbcType=DOUBLE}, #{integralProportion,jdbcType=DOUBLE}, #{serviceInvoice,jdbcType=DOUBLE}, 
      #{freightInvoice,jdbcType=DOUBLE}, #{creatorId,jdbcType=INTEGER}, #{activated,jdbcType=BIT}, 
      #{deleted,jdbcType=BIT}, #{createdDate,jdbcType=TIMESTAMP}, #{updatedDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.techwells.wumei.domain.Setting" >
    <selectKey resultType="java.lang.Integer" keyProperty="settingId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_setting
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="winningProbability != null" >
        winning_probability,
      </if>
      <if test="consumptionIntegral != null" >
        consumption_integral,
      </if>
      <if test="drawStarttime != null" >
        draw_starttime,
      </if>
      <if test="drawEndtime != null" >
        draw_endtime,
      </if>
      <if test="awardRule != null" >
        award_rule,
      </if>
      <if test="contactDownloadUrl != null" >
        contact_download_url,
      </if>
      <if test="qrcodeBgUrl != null" >
        qrcode_bg_url,
      </if>
      <if test="usingFee != null" >
        using_fee,
      </if>
      <if test="managementFee != null" >
        management_fee,
      </if>
      <if test="salesIncome != null" >
        sales_income,
      </if>
      <if test="assistantIncome != null" >
        assistant_income,
      </if>
      <if test="wechatFee != null" >
        wechat_fee,
      </if>
      <if test="integralProportion != null" >
        integral_proportion,
      </if>
      <if test="serviceInvoice != null" >
        service_invoice,
      </if>
      <if test="freightInvoice != null" >
        freight_invoice,
      </if>
      <if test="creatorId != null" >
        creator_id,
      </if>
      <if test="activated != null" >
        activated,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
      <if test="createdDate != null" >
        created_date,
      </if>
      <if test="updatedDate != null" >
        updated_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="winningProbability != null" >
        #{winningProbability,jdbcType=INTEGER},
      </if>
      <if test="consumptionIntegral != null" >
        #{consumptionIntegral,jdbcType=INTEGER},
      </if>
      <if test="drawStarttime != null" >
        #{drawStarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="drawEndtime != null" >
        #{drawEndtime,jdbcType=TIMESTAMP},
      </if>
      <if test="awardRule != null" >
        #{awardRule,jdbcType=VARCHAR},
      </if>
      <if test="contactDownloadUrl != null" >
        #{contactDownloadUrl,jdbcType=VARCHAR},
      </if>
      <if test="qrcodeBgUrl != null" >
        #{qrcodeBgUrl,jdbcType=VARCHAR},
      </if>
      <if test="usingFee != null" >
        #{usingFee,jdbcType=DOUBLE},
      </if>
      <if test="managementFee != null" >
        #{managementFee,jdbcType=DOUBLE},
      </if>
      <if test="salesIncome != null" >
        #{salesIncome,jdbcType=DOUBLE},
      </if>
      <if test="assistantIncome != null" >
        #{assistantIncome,jdbcType=DOUBLE},
      </if>
      <if test="wechatFee != null" >
        #{wechatFee,jdbcType=DOUBLE},
      </if>
      <if test="integralProportion != null" >
        #{integralProportion,jdbcType=DOUBLE},
      </if>
      <if test="serviceInvoice != null" >
        #{serviceInvoice,jdbcType=DOUBLE},
      </if>
      <if test="freightInvoice != null" >
        #{freightInvoice,jdbcType=DOUBLE},
      </if>
      <if test="creatorId != null" >
        #{creatorId,jdbcType=INTEGER},
      </if>
      <if test="activated != null" >
        #{activated,jdbcType=BIT},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=BIT},
      </if>
      <if test="createdDate != null" >
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedDate != null" >
        #{updatedDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.techwells.wumei.domain.Setting" >
    update t_setting
    <set >
      <if test="winningProbability != null" >
        winning_probability = #{winningProbability,jdbcType=INTEGER},
      </if>
      <if test="consumptionIntegral != null" >
        consumption_integral = #{consumptionIntegral,jdbcType=INTEGER},
      </if>
      <if test="drawStarttime != null" >
        draw_starttime = #{drawStarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="drawEndtime != null" >
        draw_endtime = #{drawEndtime,jdbcType=TIMESTAMP},
      </if>
      <if test="awardRule != null" >
        award_rule = #{awardRule,jdbcType=VARCHAR},
      </if>
      <if test="contactDownloadUrl != null" >
        contact_download_url = #{contactDownloadUrl,jdbcType=VARCHAR},
      </if>
      <if test="qrcodeBgUrl != null" >
        qrcode_bg_url = #{qrcodeBgUrl,jdbcType=VARCHAR},
      </if>
      <if test="usingFee != null" >
        using_fee = #{usingFee,jdbcType=DOUBLE},
      </if>
      <if test="managementFee != null" >
        management_fee = #{managementFee,jdbcType=DOUBLE},
      </if>
      <if test="salesIncome != null" >
        sales_income = #{salesIncome,jdbcType=DOUBLE},
      </if>
      <if test="assistantIncome != null" >
        assistant_income = #{assistantIncome,jdbcType=DOUBLE},
      </if>
      <if test="wechatFee != null" >
        wechat_fee = #{wechatFee,jdbcType=DOUBLE},
      </if>
      <if test="integralProportion != null" >
        integral_proportion = #{integralProportion,jdbcType=DOUBLE},
      </if>
      <if test="serviceInvoice != null" >
        service_invoice = #{serviceInvoice,jdbcType=DOUBLE},
      </if>
      <if test="freightInvoice != null" >
        freight_invoice = #{freightInvoice,jdbcType=DOUBLE},
      </if>
      <if test="creatorId != null" >
        creator_id = #{creatorId,jdbcType=INTEGER},
      </if>
      <if test="activated != null" >
        activated = #{activated,jdbcType=BIT},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=BIT},
      </if>
      <if test="createdDate != null" >
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedDate != null" >
        updated_date = #{updatedDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where setting_id = #{settingId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.techwells.wumei.domain.Setting" >
    update t_setting
    set winning_probability = #{winningProbability,jdbcType=INTEGER},
      consumption_integral = #{consumptionIntegral,jdbcType=INTEGER},
      draw_starttime = #{drawStarttime,jdbcType=TIMESTAMP},
      draw_endtime = #{drawEndtime,jdbcType=TIMESTAMP},
      award_rule = #{awardRule,jdbcType=VARCHAR},
      contact_download_url = #{contactDownloadUrl,jdbcType=VARCHAR},
      qrcode_bg_url = #{qrcodeBgUrl,jdbcType=VARCHAR},
      using_fee = #{usingFee,jdbcType=DOUBLE},
      management_fee = #{managementFee,jdbcType=DOUBLE},
      sales_income = #{salesIncome,jdbcType=DOUBLE},
      assistant_income = #{assistantIncome,jdbcType=DOUBLE},
      wechat_fee = #{wechatFee,jdbcType=DOUBLE},
      integral_proportion = #{integralProportion,jdbcType=DOUBLE},
      service_invoice = #{serviceInvoice,jdbcType=DOUBLE},
      freight_invoice = #{freightInvoice,jdbcType=DOUBLE},
      creator_id = #{creatorId,jdbcType=INTEGER},
      activated = #{activated,jdbcType=BIT},
      deleted = #{deleted,jdbcType=BIT},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      updated_date = #{updatedDate,jdbcType=TIMESTAMP}
    where setting_id = #{settingId,jdbcType=INTEGER}
  </update>
  
  <select id="countTotal" resultType="java.lang.Integer">
		select count(i.invoice_id) from t_invoice i
		where 1=1
		<if test="params.userId !=null and params.userId !=''">
			and g.user_id = #{params.userId,jdbcType=INTEGER}
		</if>
	</select>
	<select id="selectInvoiceList" resultMap="BaseResultMap">
		select i.* from t_invoice i
		where 1=1
		<if test="params.userId !=null and params.userId !=''">
			and i.user_id = #{params.userId,jdbcType=INTEGER}
		</if>
		limit
		#{startNum,jdbcType=INTEGER},
		#{pageSize,jdbcType=INTEGER}
	</select>
</mapper>