<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.techwells.wumei.dao.StockMapper" >
  <resultMap id="BaseResultMap" type="com.techwells.wumei.domain.Stock" >
    <id column="stock_id" property="stockId" jdbcType="INTEGER" />
    <result column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="merchant_id" property="merchantId" jdbcType="INTEGER" />
    <result column="specification" property="specification" jdbcType="VARCHAR" />
    <result column="purchase_price" property="purchasePrice" jdbcType="DOUBLE" />
    <result column="sale_price" property="salePrice" jdbcType="DOUBLE" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="stock" property="stock" jdbcType="INTEGER" />
    <result column="low_stock" property="lowStock" jdbcType="INTEGER" />
    <result column="lock_stock" property="lockStock" jdbcType="INTEGER" />
    <result column="activated" property="activated" jdbcType="BIT" />
    <result column="deleted" property="deleted" jdbcType="BIT" />
    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="updated_date" property="updatedDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    stock_id, product_id, merchant_id, specification, purchase_price, sale_price, url, 
    stock, low_stock, lock_stock, activated, deleted, created_date, updated_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_stock
    where stock_id = #{stockId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_stock
    where stock_id = #{stockId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.techwells.wumei.domain.Stock" >
    <selectKey resultType="java.lang.Integer" keyProperty="stockId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_stock (product_id, merchant_id, specification, 
      purchase_price, sale_price, url, 
      stock, low_stock, lock_stock, 
      activated, deleted, created_date, 
      updated_date)
    values (#{productId,jdbcType=INTEGER}, #{merchantId,jdbcType=INTEGER}, #{specification,jdbcType=VARCHAR}, 
      #{purchasePrice,jdbcType=DOUBLE}, #{salePrice,jdbcType=DOUBLE}, #{url,jdbcType=VARCHAR}, 
      #{stock,jdbcType=INTEGER}, #{lowStock,jdbcType=INTEGER}, #{lockStock,jdbcType=INTEGER}, 
      #{activated,jdbcType=BIT}, #{deleted,jdbcType=BIT}, #{createdDate,jdbcType=TIMESTAMP}, 
      #{updatedDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.techwells.wumei.domain.Stock" >
    <selectKey resultType="java.lang.Integer" keyProperty="stockId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_stock
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="productId != null" >
        product_id,
      </if>
      <if test="merchantId != null" >
        merchant_id,
      </if>
      <if test="specification != null" >
        specification,
      </if>
      <if test="purchasePrice != null" >
        purchase_price,
      </if>
      <if test="salePrice != null" >
        sale_price,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="stock != null" >
        stock,
      </if>
      <if test="lowStock != null" >
        low_stock,
      </if>
      <if test="lockStock != null" >
        lock_stock,
      </if>
      <if test="activated != null" >
        activated,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
      <if test="createdDate != null" >
        created_date,
      </if>
      <if test="updatedDate != null" >
        updated_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="productId != null" >
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="merchantId != null" >
        #{merchantId,jdbcType=INTEGER},
      </if>
      <if test="specification != null" >
        #{specification,jdbcType=VARCHAR},
      </if>
      <if test="purchasePrice != null" >
        #{purchasePrice,jdbcType=DOUBLE},
      </if>
      <if test="salePrice != null" >
        #{salePrice,jdbcType=DOUBLE},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="stock != null" >
        #{stock,jdbcType=INTEGER},
      </if>
      <if test="lowStock != null" >
        #{lowStock,jdbcType=INTEGER},
      </if>
      <if test="lockStock != null" >
        #{lockStock,jdbcType=INTEGER},
      </if>
      <if test="activated != null" >
        #{activated,jdbcType=BIT},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=BIT},
      </if>
      <if test="createdDate != null" >
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedDate != null" >
        #{updatedDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.techwells.wumei.domain.Stock" >
    update t_stock
    <set >
      <if test="productId != null" >
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="merchantId != null" >
        merchant_id = #{merchantId,jdbcType=INTEGER},
      </if>
      <if test="specification != null" >
        specification = #{specification,jdbcType=VARCHAR},
      </if>
      <if test="purchasePrice != null" >
        purchase_price = #{purchasePrice,jdbcType=DOUBLE},
      </if>
      <if test="salePrice != null" >
        sale_price = #{salePrice,jdbcType=DOUBLE},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="stock != null" >
        stock = #{stock,jdbcType=INTEGER},
      </if>
      <if test="lowStock != null" >
        low_stock = #{lowStock,jdbcType=INTEGER},
      </if>
      <if test="lockStock != null" >
        lock_stock = #{lockStock,jdbcType=INTEGER},
      </if>
      <if test="activated != null" >
        activated = #{activated,jdbcType=BIT},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=BIT},
      </if>
      <if test="createdDate != null" >
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedDate != null" >
        updated_date = #{updatedDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where stock_id = #{stockId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.techwells.wumei.domain.Stock" >
    update t_stock
    set product_id = #{productId,jdbcType=INTEGER},
      merchant_id = #{merchantId,jdbcType=INTEGER},
      specification = #{specification,jdbcType=VARCHAR},
      purchase_price = #{purchasePrice,jdbcType=DOUBLE},
      sale_price = #{salePrice,jdbcType=DOUBLE},
      url = #{url,jdbcType=VARCHAR},
      stock = #{stock,jdbcType=INTEGER},
      low_stock = #{lowStock,jdbcType=INTEGER},
      lock_stock = #{lockStock,jdbcType=INTEGER},
      activated = #{activated,jdbcType=BIT},
      deleted = #{deleted,jdbcType=BIT},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      updated_date = #{updatedDate,jdbcType=TIMESTAMP}
    where stock_id = #{stockId,jdbcType=INTEGER}
  </update>
  
  <select id="countTotal" resultType="java.lang.Integer">
		select count(r.stock_id) from t_stock r
		where 1=1
		<if test="params.productId !=null and params.productId !=''">
			and r.product_id = #{params.productId,jdbcType=INTEGER}
		</if>
		<if test="params.stockId !=null and params.stockId !=''">
			and r.stock_id = #{params.stockId,jdbcType=VARCHAR}
		</if>
		<if test="params.activated !=null and params.activated !=''">
			and r.activated = #{params.activated,jdbcType=INTEGER}
		</if>
	</select>
	
	<select id="selectStockList" resultMap="BaseResultMap">
		select r.* from t_stock r
		where 1=1
		<if test="params.activated !=null and params.activated !=''">
			and r.activated = #{params.activated,jdbcType=INTEGER}
		</if>
		<if test="params.productId !=null and params.productId !=''">
			and r.product_id = #{params.productId,jdbcType=INTEGER}
		</if>
		<if test="params.stockId !=null and params.stockId !=''">
			and r.stock_id = #{params.stockId,jdbcType=VARCHAR}
		</if>
		limit
		#{startNum,jdbcType=INTEGER},
		#{pageSize,jdbcType=INTEGER}
	</select>
	
	<update id="deleteByProductId" >
		update t_stock s
		set s.deleted = 1
		where s.product_id = #{productId,jdbcType=INTEGER}
	</update>
	
	<select id="selectStockByStock" resultMap="BaseResultMap" parameterType="com.techwells.wumei.domain.Stock" >
    select 
    <include refid="Base_Column_List" />
    from t_stock
    where product_id = #{productId,jdbcType=INTEGER}
      and specification = #{specification,jdbcType=VARCHAR}
  </select>

  <select id="getStockListByProductId" resultType="com.techwells.wumei.domain.Stock">
    SELECT
      r.stock_id as stockId,
      r.product_id as productId,
      r.merchant_id as merchantId,
      r.specification as specification,
      r.purchase_price as purchasePrice,
      r.sale_price as salePrice,
      r.url as url,
      r.stock as stock,
      r.low_stock as lowStock,
      r.lock_stock as lockStock,
      r.activated as activated,
      r.deleted as deleted,
      r.created_date as createdDate,
      r.updated_date as updatedDate
    FROM
        t_stock r
    WHERE
        1 =1
    <if test="params.productId !=null and params.productId !=''">
      and r.product_id = #{params.productId,jdbcType=INTEGER}
    </if>

  </select>

</mapper>
