<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.techwells.wumei.dao.TechnologyCaseMapper">
  <resultMap id="BaseResultMap" type="com.techwells.wumei.domain.TechnologyCase">
    <id column="case_id" jdbcType="INTEGER" property="caseId" />
    <result column="case_name" jdbcType="VARCHAR" property="caseName" />
    <result column="technology_id" jdbcType="INTEGER" property="technologyId" />
    <result column="case_introduce" jdbcType="VARCHAR" property="caseIntroduce" />
    <result column="image_url" jdbcType="VARCHAR" property="imageUrl" />
    <result column="case_time" jdbcType="TIMESTAMP" property="caseTime" />
    <result column="case_city" jdbcType="VARCHAR" property="caseCity" />
    <result column="activated" jdbcType="INTEGER" property="activated" />
    <result column="deleted" jdbcType="INTEGER" property="deleted" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <resultMap id="CaseVoMap" type="com.techwells.wumei.domain.vo.CaseVO">
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="real_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_icon" jdbcType="VARCHAR" property="userIcon" />
    <result column="case_id" jdbcType="INTEGER" property="caseId" />
    <result column="case_name" jdbcType="VARCHAR" property="caseName" />
    <result column="case_introduce" jdbcType="VARCHAR" property="caseIntroduce" />
    <result column="image_url" jdbcType="VARCHAR" property="caseImageUrl" />
    <result column="case_time" jdbcType="TIMESTAMP" property="caseTime" />
    <result column="case_city" jdbcType="VARCHAR" property="caseCity" />
  </resultMap>

  <resultMap id="TechnologyCaseVoMap" type="com.techwells.wumei.domain.vo.TechnologyCaseVO">
    <result column="case_id" jdbcType="INTEGER" property="caseId" />
    <result column="case_name" jdbcType="VARCHAR" property="caseName" />
    <result column="case_city" jdbcType="VARCHAR" property="caseCity" />
    <result column="case_time" jdbcType="VARCHAR" property="caseTime" />
    <result column="case_introduce" jdbcType="VARCHAR" property="caseIntroduce" />
    <result column="image_url" jdbcType="VARCHAR" property="imageUrl" />
  </resultMap>
  <sql id="Base_Column_List">
    case_id, case_name, technology_id, case_introduce, image_url, case_time, case_city,
    activated, deleted, create_date, update_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_technology_case
    where case_id = #{caseId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_technology_case
    where case_id = #{caseId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.techwells.wumei.domain.TechnologyCase">
    <selectKey keyProperty="caseId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_technology_case (case_name, technology_id, case_introduce,
    image_url, case_time, case_city,
    activated, deleted, create_date,
    update_date)
    values (#{caseName,jdbcType=VARCHAR}, #{technologyId,jdbcType=INTEGER}, #{caseIntroduce,jdbcType=VARCHAR},
    #{imageUrl,jdbcType=VARCHAR}, #{caseTime,jdbcType=TIMESTAMP}, #{caseCity,jdbcType=VARCHAR},
    #{activated,jdbcType=INTEGER}, #{deleted,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP},
    #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.techwells.wumei.domain.TechnologyCase">
    <selectKey keyProperty="caseId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_technology_case
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="caseName != null">
        case_name,
      </if>
      <if test="technologyId != null">
        technology_id,
      </if>
      <if test="caseIntroduce != null">
        case_introduce,
      </if>
      <if test="imageUrl != null">
        image_url,
      </if>
      <if test="caseTime != null">
        case_time,
      </if>
      <if test="caseCity != null">
        case_city,
      </if>
      <if test="activated != null">
        activated,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="caseName != null">
        #{caseName,jdbcType=VARCHAR},
      </if>
      <if test="technologyId != null">
        #{technologyId,jdbcType=INTEGER},
      </if>
      <if test="caseIntroduce != null">
        #{caseIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="imageUrl != null">
        #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="caseTime != null">
        #{caseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="caseCity != null">
        #{caseCity,jdbcType=VARCHAR},
      </if>
      <if test="activated != null">
        #{activated,jdbcType=INTEGER},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.techwells.wumei.domain.TechnologyCase">
    update t_technology_case
    <set>
      <if test="caseName != null">
        case_name = #{caseName,jdbcType=VARCHAR},
      </if>
      <if test="technologyId != null">
        technology_id = #{technologyId,jdbcType=INTEGER},
      </if>
      <if test="caseIntroduce != null">
        case_introduce = #{caseIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="imageUrl != null">
        image_url = #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="caseTime != null">
        case_time = #{caseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="caseCity != null">
        case_city = #{caseCity,jdbcType=VARCHAR},
      </if>
      <if test="activated != null">
        activated = #{activated,jdbcType=INTEGER},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where case_id = #{caseId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.techwells.wumei.domain.TechnologyCase">
    update t_technology_case
    set case_name = #{caseName,jdbcType=VARCHAR},
      technology_id = #{technologyId,jdbcType=INTEGER},
      case_introduce = #{caseIntroduce,jdbcType=VARCHAR},
      image_url = #{imageUrl,jdbcType=VARCHAR},
      case_time = #{caseTime,jdbcType=TIMESTAMP},
      case_city = #{caseCity,jdbcType=VARCHAR},
      activated = #{activated,jdbcType=INTEGER},
      deleted = #{deleted,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where case_id = #{caseId,jdbcType=INTEGER}
  </update>

  <select id="countTotal" resultType="java.lang.Integer">
    SELECT
        count( 0 )
    FROM
        t_technology_case
    <where>
        deleted = 0
      <if test="params.caseName !=null and params.caseName !='' ">
        AND LOCATE( #{params.caseName}, case_name )
      </if>
      <if test="params.technologyId !=null and params.technologyId !='' ">
        AND technology_id = #{params.technologyId}
      </if>
      <if test="params.activated !=null and params.activated !='' ">
        AND activated = #{params.activated}
      </if>
    </where>
  </select>

  <select id="selectTechnologyCaseList" resultMap="BaseResultMap">
    SELECT
      *
    FROM
    t_technology_case c
    <where>
      deleted = 0
      <if test="params.caseName !=null and params.caseName !='' ">
        AND LOCATE( #{params.caseName}, case_name )
      </if>
      <if test="params.technologyId !=null and params.technologyId !='' ">
        AND technology_id = #{params.technologyId}
      </if>
      <if test="params.activated !=null and params.activated !='' ">
        AND activated = #{params.activated}
      </if>
    </where>
    limit
    #{startNum},
    #{pageSize}
  </select>

  <delete id="batchDelete">
    DELETE FROM  t_technology_case  WHERE case_id IN
    <foreach collection="array" item="id" open="(" separator="," close=")">
      #{id}
    </foreach>
  </delete>

  <insert id="batchAddCase">
    INSERT INTO t_technology_case ( case_name, technology_id, case_introduce, image_url, case_time, case_city )
    VALUES
    <foreach collection="list" item="item" index="index" separator=",">
      (
      #{item.caseName},
      #{item.technologyId},
      #{item.caseIntroduce},
      #{item.imageUrl},
      #{item.caseTime},
      #{item.caseCity}
      )
    </foreach>
  </insert>

  <select id="getCaseInfo" resultMap="CaseVoMap">
    SELECT
        c.case_id,
        c.case_name,
        c.case_introduce,
        c.case_city,
        c.case_time,
        c.image_url,
        u.user_id,
        u.user_icon,
        u.real_name
    FROM
        t_technology_case c
        INNER JOIN t_user u ON ( u.user_id = c.technology_id )
    WHERE
        u.deleted = 0
        AND c.deleted = 0
        AND c.case_id = #{caseId}
  </select>

  <select id="technologyCaseTotal" resultType="java.lang.Integer">
    SELECT
    count( DISTINCT c.case_id )
    FROM
    t_technology_case c
    LEFT JOIN t_pv p ON ( p.relation_id = c.case_id AND p.pv_type = 4 )
    <where>
      deleted = 0
      AND activated = 0
      <if test="params.technologyId !=null and params.technologyId !='' ">
        AND technology_id = #{params.technologyId}
      </if>
    </where>
  </select>

  <select id="getTechnologyCaseList" resultMap="TechnologyCaseVoMap">
    SELECT
    c.case_name,
    c.case_id,
    c.image_url,
    c.case_city,
    c.case_time,
    c.case_introduce,
    count(p.relation_id) AS pvCount
    FROM
    t_technology_case c
    LEFT JOIN t_pv p ON ( p.relation_id = c.case_id AND p.pv_type = 4 )
    <where>
      deleted = 0
      AND activated = 0
      AND technology_id = #{params.technologyId}
      GROUP BY
      c.case_id
      <if test="params.pvCount !=null and params.pvCount !='' ">
        ORDER BY
        count( p.relation_id ) DESC
      </if>
      <if test="params.createTime !=null and params.createTime !='' ">
        ORDER BY
        c.create_date DESC
      </if>
    </where>
    limit
    #{startNum,jdbcType=INTEGER},
    #{pageSize,jdbcType=INTEGER}
  </select>
</mapper>