<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.techwells.wumei.dao.VerificationCodeMapper" >
  <resultMap id="BaseResultMap" type="com.techwells.wumei.domain.VerificationCode" >
    <id column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="ver_code" property="verCode" jdbcType="VARCHAR" />
    <result column="code_type" property="codeType" jdbcType="INTEGER" />
    <result column="updated_date" property="updatedDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    user_name, ver_code, code_type, updated_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_verification_code
    where user_name = #{userName,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_verification_code
    where user_name = #{userName,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.techwells.wumei.domain.VerificationCode" >
    insert into t_verification_code (user_name, ver_code, code_type, 
      updated_date)
    values (#{userName,jdbcType=VARCHAR}, #{verCode,jdbcType=VARCHAR}, #{codeType,jdbcType=INTEGER}, 
      #{updatedDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.techwells.wumei.domain.VerificationCode" >
    insert into t_verification_code
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userName != null" >
        user_name,
      </if>
      <if test="verCode != null" >
        ver_code,
      </if>
      <if test="codeType != null" >
        code_type,
      </if>
      <if test="updatedDate != null" >
        updated_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="verCode != null" >
        #{verCode,jdbcType=VARCHAR},
      </if>
      <if test="codeType != null" >
        #{codeType,jdbcType=INTEGER},
      </if>
      <if test="updatedDate != null" >
        #{updatedDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.techwells.wumei.domain.VerificationCode" >
    update t_verification_code
    <set >
      <if test="verCode != null" >
        ver_code = #{verCode,jdbcType=VARCHAR},
      </if>
      <if test="codeType != null" >
        code_type = #{codeType,jdbcType=INTEGER},
      </if>
      <if test="updatedDate != null" >
        updated_date = #{updatedDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where user_name = #{userName,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.techwells.wumei.domain.VerificationCode" >
    update t_verification_code
    set ver_code = #{verCode,jdbcType=VARCHAR},
      code_type = #{codeType,jdbcType=INTEGER},
      updated_date = #{updatedDate,jdbcType=TIMESTAMP}
    where user_name = #{userName,jdbcType=VARCHAR}
  </update>

  <select id="selectByMobile" resultMap="BaseResultMap">
    SELECT
        user_name,
        ver_code,
        code_type,
        updated_date
    FROM
        t_verification_code
    WHERE
        user_name = #{mobile}
        AND code_type = #{codeType}
  </select>
</mapper>